* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
}

header {
    position: fixed;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 600px;
    gap: 100px;
    z-index: 2;

    & img {
        width: 300px;
    }

    & nav {
        & ul {
            display: grid;
            grid-template-columns: repeat(3, 300px);
            cursor: pointer;
            color: #000;
        }
    }
}


section {
    background-image: radial-gradient(black, white);
    height: 100vh;
    position: relative;

    & .list {
        width: 70vw;
        height: 100%;
        margin: auto;
        position: relative;

        & .item {
            position: absolute;
            inset: 0;

            & .car-img {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 70%;

                & img {
                    width: 80%;
                    transform: rotate(-30deg);
                }

                &::before {
                    content: "";
                    position: absolute;
                    background-color: #000;
                    width: 100%;
                    height: 100px;
                    top: 150%;
                    left: 50px;
                    border-radius: 50%;
                    filter: blur(50px);
                }
            }

            & .content {
                position: absolute;
                right: 100px;
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                gap: 20px;

                & .car-information {
                    font-weight: bold;

                }

                & h2 {
                    font-size: 7em;
                    line-height: 1em;
                    font-family: "League Gothic", sans-serif;
                }

                & .description {
                    color: #d9d9d9;
                    font-size: 20px;
                    text-align: right;
                    max-width: 400px;
                }

                & .information {
                    border-radius: 30px;
                    height: 35px;
                    width: 130px;
                    text-transform: uppercase;
                    border: 2px solid #791fd3;
                    background-color: #beff1b;
                    color: #000;
                    font-family: "League Gothic", sans-serif;
                    margin-top: 1em;
                    font-size: 20px;
                    letter-spacing: 2px;
                    cursor: pointer;
                }
            }
        }

        &::before {
            content: '';
            position: absolute;
            height: 200px;
            width: 100%;
            top: 50%;
            border-top: 1px solid #ffffff;
        }
    }

    .arrows {
        width: 70vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -25px);
        display: flex;
        justify-content: space-between;

        & button:nth-child(1) {
            & img {
                transform: scale(-1);
            }
        }

        & button {
            top: 60%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            cursor: pointer;

            & img {
                width: 30px;
                margin-top: 4px;
                cursor: pointer;
            }

            &:hover {
                background-color: #beff1b;
            }
        }
    }


    .indicators {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        height: 200px;
        width: 90vw;

        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 15px;

        & .number {
            font-size: 3em;
            font-family: "League Gothic", sans-serif;
        }

        & ul {
            display: flex;
            gap: 10px;

            & li {
                width: 50px;
                height: 5px;
                background-color: #beff1b;
                border-radius: 5px;
                transition: 0.5s;
            }

            & .active {
                background-color: #5a5858;
            }
        }
    }
}

section {

    & .list {
        --calculation: 1;
        & .item {
            transform: translateX(calc(100vw * var(--calculation)));
            transition: 0.5s;
            opacity: 0;

            & .car-img {
                & img {
                    transform: rotate(0);
                    transition: 0.5s;
                    transition-delay: 0.3s;
                }
            }

            & .content {

                & .car-information,
                h2,
                .description,
                .information {
                    transform: translateX(calc(200px * var(--calculation)));
                    transition: 0.7s;
                    transition-delay: 0.3s;
                }

                & h2 {
                    transition-delay: 0.5s;
                }

                & .description {
                    transition-delay: 0.7s;
                }

                & .information {
                    transition-delay: 0.9s;
                }
            }
        }

        & .active {
            transform: translateX(0);
            transition: 0.5s;
            opacity: 1;

            & .car-img {
                & img {
                    transform: rotate(-20deg);
                }
            }

            & .content {

                & .car-information,
                h2,
                .description,
                .information {
                    transform: translateX(0);
                }
            }
        }
    }
}


@media (max-width: 1300px) {
    header {
        gap: 350px;
        
    }

    section .list .item .content h2 {
        font-size: 100px;
        padding-bottom: 20px;
    }

    section .list .item .content .description {
        max-width: 300px;
    }

    section .list .item .car-img img {
        width: 80%;
        transform: rotate(-30deg);
    }


}

@media (max-width: 1220px) {
    header h1 {
        font-size: 200%;
    }

    section .list .item .content h2 {
        font-size: 5em;
    }

    section .list .item .content .description {
        font-size: 10px;
        max-width: 200px;
        margin-top: 20px;
    }
}




@media (max-width: 1050px) {

    header {
        gap: 30%;
    }

    section .list .item .content h2 {
        font-size: 4em;
        padding-top: 70px;
    }

    section .list .item .content .description {
        font-size: 10px;
        max-width: 200px;
    }

    section .list .item .car-img {
        width: 500px;
    }
}

@media (max-width: 960px) {
    header {
        gap: 40%;
    }

    header nav ul {
        display: grid;
        grid-template-columns: repeat(3, 130px);
    }

    section .list .item .content .car-information {
        padding-top: 100px;
    }

    section .list .item .content h2 {
        font-size: 3em;
        padding-top: 0px;

    }

    section .list .item .content .description {
        font-size: 10px;
        max-width: 200px;
    }
}

@media (max-width: 860px) {
    header {
        gap: 40%;
    }

    header nav ul {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        font-size: 14px;
    }

    section .list .item .content .car-information {
        padding-top: 100px;
    }

    section .list .item .content h2 {
        font-size: 3em;
        padding-top: 0px;

    }

    section .list .item .content .description {
        font-size: 10px;
        max-width: 200px;
    }

    section .list .item .car-img {
        width: 70%;
    }
}

@media (max-width: 760px) {
    header {
        gap: 35%;
    }

    section .list .item .car-img {
        width: 50%;
    }
}

/* a partir daqui, deixar o carro em cima e a descrição embaixo dele */
@media (max-width: 660px) {

    header {
        gap: 30%;
    }

    header nav ul {
        display: flex;
        gap: 30px;
        font-size: 12px;
    }

    /* Transformando a estrutura em coluna */
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: auto;
    }

    section .list .item .car-img {
        width: 120%;
        padding-left: 70px;
    }

    section .list .item .content .car-information {
        position: absolute;
        top: 70px;
        left: 50%;
        /* Centraliza o elemento horizontalmente */
        transform: translateX(-50%);
        /* Ajusta a posição relativa à centralização */
        text-align: end;
        width: 39%;
    }

    section .list .item .content h2 {
        font-size: 2.5em;
        /* Reduz o tamanho da fonte */
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        white-space: nowrap;
        /* Impede a quebra de linha */
        padding: 0;
        /* Remove qualquer padding extra */
        margin: 0;
        /* Remove qualquer margin extra */
    }

    section .list .item .content .description {
        position: absolute;
        font-size: 12px;
        left: 50%;
        transform: translateX(-50%);
        width: 350px;
        padding-top: 300px;
        text-align: end;
    }

    section .list .item .content .car-information {
        order: 4;
        /* Coloca o botão abaixo da descrição */
        margin-top: 10px;
        /* Ajuste conforme necessário */
        z-index: 4;
        /* Garante que o botão fique acima de todos os elementos */
    }

    section .list .item .content .information {
        position: absolute;
        top: 85%;
        /* Coloca o information abaixo dos indicadores */
        left: 80%;
        transform: translateX(0%);
        text-align: center;
    }

    section .indicators {
        top: 70%;
        /* Ajusta a posição dos indicadores */
        left: 50%;
        /* Centraliza os indicadores */
        transform: translateX(-50%);
    }
}

@media (max-width: 432px) {

    header {
        align-items: center;
        gap: 40px;
    }

    header nav ul {
        display: flex;
        gap: 30px;
        font-size: 10px;
    }

    section .list .item .car-img {
        width: 135%;
        padding-left: 40px;
    }

    section .list .item .content .car-information {
        position: absolute;
        top: 70px;
    }

    section .list .item .content h2 {
        font-size: 3em;
        position: absolute;
        top: 200px;
    }

    section .list .item .content .description {
        position: absolute;
        font-size: 12px;
        left: 70%;
        /* Centraliza o elemento horizontalmente */
        transform: translateX(-50%);
        /* Ajusta a posição relativa à centralização */
        width: 350px;
        /* Aumenta a largura para ocupar mais espaço lateral */
        padding-top: 240px;
        /* Ajusta o espaçamento vertical */
        text-align: end;
    }

    section .arrows button {
        top: 80%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
    }

    section .arrows button img {
        width: 20px;
        margin-top: 5.5px;
    }

    section .list .item .content .information {
        position: absolute;
        top: 82%;
        /* Coloca o information abaixo dos indicadores */
        left: 110%;
        transform: translateX(0%);
        text-align: center;
    }

    section .indicators {
        top: 65%;
    }

    section .number {
        font-size: 3em;
    }
}

@media (max-width: 394px) {

    section .list .item .content .information {
        position: absolute;
        top: 86%;
        /* Coloca o information abaixo dos indicadores */
        left: 115%;
        transform: translateX(0%);
        text-align: center;
    }
}

@media (max-width: 392px) {

    header {
        gap: 20px;
    }

    header nav ul {
        display: flex;
        gap: 25px;
        font-size: 9px;
    }

    section .list .item .content .car-information {
        position: absolute;
        top: 70px;
        left: 50%;
        /* Centraliza o elemento horizontalmente */
        transform: translateX(-50%);
        /* Ajusta a posição relativa à centralização */
        text-align: center;
    }

    section .list .item .content h2 {
        font-size: 2.5em;
        /* Reduz o tamanho da fonte */
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        white-space: nowrap;
        /* Impede a quebra de linha */
        padding: 0;
        /* Remove qualquer padding extra */
        margin: 0;
        /* Remove qualquer margin extra */
    }

    section .list .item .content .description {
        position: absolute;
        font-size: 12px;
        left: 50%;
        transform: translateX(-50%);
        width: 350px;
        padding-top: 300px;
        text-align: end;
    }

    section .arrows button {
        top: 80%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
    }

    section .arrows button img {
        width: 20px;
        margin-top: 5.5px;
    }

    section .list .item .content .information {
        position: absolute;
        top: 83%;
        /* Coloca o information abaixo dos indicadores */
        left: 95%;
        transform: translateX(0%);
        text-align: center;
    }

    section .indicators {
        top: 67%;
        /* Ajusta a posição dos indicadores */
        left: 50%;
        /* Centraliza os indicadores */
        transform: translateX(-50%);
    }

    section .number {
        font-size: 3em;
    }
}